.experience{
   /* height: 1400px;*/
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Experience -> Skills */
.skills{
    height: 710px;
    max-width: 1024px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: auto;
}

.dev-skills{
    height: 700px;
    max-width: 405px;
    min-width: 275px;
    width: 25vw;
    margin: 2vw;
}

.skills-title{
    height: 125px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.developer{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #EEEEEE;
}

.developer-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6BBBAE;
}

.dev-and-tools{
    height: 450px;
    background: #00594C;
    border-radius: 30px;
    justify-content: center;
}

.dev-container,
.tools-container,
.learning,
.img-dev-tools
{
    background: transparent;
    margin: 2px;
}


.dev-container{
    max-width: 405px;
    width: 100%;
    height: 370px;
}

.dev-tools-title{
    width: 100%;
    height: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-items: center;

    justify-content: space-evenly;
    background: transparent;

    padding: 0px 20px;
    margin: 0;
}

.skills-line1{
    width: 100%;
    max-width: 400px;
    height: 65px;
    
    display: flex;
    justify-content: space-evenly;

    background: transparent;

    margin: 10px 0px;
    margin-bottom: 15px;

}

.skills-line2{
    width: 100%;
    max-width: 400px;
    height: 60px;
    
    display: flex;
    justify-content: space-evenly;

    margin: 10px 0px;
    background: transparent;

    margin-bottom: 20px;

}

.skills-item{
    height: 64px;
    background: transparent;
    margin: 0;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

}

.skills-item img{
    background: transparent;
    justify-content: center;
}

.learning{
    width: 100%;
    height: 25px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    
    text-align: center;

    color: #6BBBAE;

}

.tools-container{
    width: 100%;
    height: 160px;
}

.tools-logo{
    height: 75px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.line{
    width: 1px;
    height: 350px;
    
    background-color: #6BBBAE;
}


/* Experience -> Jobs & Educaton */
.job-edu-container{
    width: 100%;
    max-width: 800px;
    height: auto;

    display: flex;
    align-items: center;
    text-align: center;

    justify-content: center;
    margin: 50px 0px;
    margin-left: auto;
    margin-right: auto;
}

.job-edu{
    width: 100%;
    max-width: 900px;
    min-width: 290px;
    height: auto;
    min-height: 450px;

    background: #00594C;
    border-radius: 30px;
}

.job-edu-title{
    width: 100%;
    height: 95px;

    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: #EEEEEE;

    background: transparent;
}

.job-edu-title div{
    background: transparent;
}

.navtab-container{
    width: auto;
    height: 100%;
    min-height: max-content;
    /*
    display: flex;
    align-items: center;
    justify-items: center;

    justify-content: space-between;
    */
    display: grid;
    /*grid-template-rows: minmax(25%, 150px) 2fr;*/
    grid-template-columns: minmax(25%, 150px) 2fr;

    background-color: transparent;
}


/* Style the tab */
.tab {
    float: left;
    border: none;
    background-color: transparent;
    width: 100%;
    max-width: 250px;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
    width: 100%;
    max-width: 250px;
    height: 30%;

    display: block;
    background-color: transparent;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    border-radius: 0px 40px 40px 0px;

    margin-right: 7vw;
}

/* Change background color of buttons on hover */
.tab button:hover:not(.active){
    color: #6BBBAE;
    background-color: transparent;
}

/* Create an active/current "tab button" class */
.tab button.active{ 
    background-color: #006F62;
}

.tab button:focus{
    outline: none;
}
/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 95%;
    border-left: none;
    height: auto;

    display: flex;
    flex-direction: row;

    background-color: transparent;
}

.tabcontent-header{
    margin: 10px;

    background-color: transparent;

    width: 100%;

    font-family: Anonymous Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    color: #EEEEEE;
    margin: 10px;
}

.tabcontent-header span{
    color: #6BBBAE;
    background-color: transparent;
}

.tabcontent-period-location{
    width: 100%;

    display: flex;
    justify-items: center;
    align-items: center;

    justify-content: space-evenly;

    background-color: inherit;
}

.period,
.location,
.location img{
    background-color: inherit;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #EEEEEE;

    padding: 0px 3px;
}

.period,
.location{
    width: 50%;
}

.location img{
    transform: scale(0.7);
}

.description,
.description li{
    background-color: inherit;
    text-align: justify;
    padding: 3px;
}

.description{
    margin: 10px;
    padding: 10px;
}



@media screen and (max-width: 800px){
    /*  .experience{
          height: 300vh;
          min-height: 2000px;
          max-height: 2500px;
      }*/
  
      .job-edu-container{
          height: auto;
      }

      .navtab-container{
        grid-template-columns: minmax(15%, 115px) 2fr;
      }

      /*
      .job-edu{
          width: 100%;
          max-width: 900px;
          height: auto;
          min-height: 660px; 
      
          background: #00594C;
          border-radius: 30px;
      }*/
  
      .job-edu{
          height: auto;
          min-height: 550px;
          margin: 20px 0px;
      }
      
      .job-edu-title{
          width: 100%;
          height: 95px;
      
          
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 30px;
          
          display: flex;
          align-items: center;
          justify-content: center;
      
          color: #EEEEEE;
      
          background: transparent;
      }
      
      .job-edu-title div{
          background: transparent;
      }
  
      .tab button{
          font-size: 17px;
          line-height: 17px;
      }
  
      .skills{
          /* Experience -> Skills */
          min-height: 1300px;
          max-height: 1400px;
          flex-direction: column;
      }
  
      .line{
          transform: rotate(90deg);
          height: 30vh;
      }
  
      .skills-title{
          height: 90px;
      }
  }

  @media screen and (max-width: 600px){
      .navtab-container{
        height: auto;
        grid-template-rows: minmax(15%, 70px) 2.2fr;
        grid-template-columns: none;
        margin-bottom: 5vh;
        min-width: 290px;
      }

      /* Style the tab */
    .tab {
        display: flex;
        justify-items: center;
        align-items: center;

        justify-content: space-evenly;

        max-width: 100%;
    }

    .tab button{
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    
        border-radius: 20px 20px 20px 20px;
        border: none;

        margin: 0;
    }
    
  }
  
  @media screen and (max-width: 450px){
      .dev-container{
          transform: scale(0.9);
      }
  }