
#resume_section{
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}


.resume{
  max-width: 450px;
  height: 115px; 
  background-color: #6BBBAE;

  border: 5px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 25px;

  display: flex;

  align-items: center;
  justify-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;

  transition-delay: 0.1s;
  transition-duration: 0.3s;

}

.resume:hover,
.resume:active{
  transform: scale(1.05);
  text-decoration: none;
}
  
.resume_content,
.resume_content img{
  font-style: italic;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: #6BBBAE;

  color: #EEEEEE;

  margin: 15px;

  text-decoration: none;
}


@media screen and (max-width: 450px){

  .resume{
    transition: none;
  }

  .resume:hover,
  .resume:active{
    transform: none;
  }
}
