
#navtab-links{
    text-decoration: none;
    list-style: none;

    background-color: transparent;

    margin: 20px;
}

#navtab-links li{
    width: 290px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: start;

    background-color: transparent;
}

.navtab-link{

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    color: #EEEEEE;

    text-decoration-color: transparent;
    background-color: transparent;
}

.navtab-link:hover,
.navtab-link:focus{
    color: #EEEEEE;
    text-decoration-color: transparent;
}

.location{
    padding-left: 5px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6BBBAE;

    background-color: transparent;
}

.navtab{
    background-color: transparent;
}

.tab-pane{
    width: 620px;
    height: 295px; 
    background: #00594C;
}

.tabs-left{

    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-items: center;

    justify-content: start;

    color: #EEEEEE;

    border: none;
    background-color: transparent;
}

.tabs-left li a{
    width: 100%;
    color: #EEEEEE;
}

.col-xs-6,
.tabs-left li,
.tabs-left li a span{
    background-color: transparent;
}