*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    background-color: #1D3C34; /* pantone 560 C */
    color: white;
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #1D3C34; /* pantone 560 C */
}

nav h1{
    position: absolute;
    left: 10px;
}

.me{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.me:hover{
    text-decoration-color: transparent;
    color: white;
}

main{
    padding: 2% 10%;
}
.intro{
    margin-top: 100px;
}

.nav-item{
    height: 75px;
    min-width: 45%;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: fixed;
    top: 0;
    transition: all 0.3s;
}

.navbar .navbar-fixed-top{
    top: 53px;
    transition: all 0.3s;
}

.nav-item li{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: auto;*/
    /*padding: 30px;*/
}

.nav-item li:hover{
    background-color: black;
    text-decoration: none;
    letter-spacing: 3px;
}

.nav-item li a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 50% 25%;
}

.about{
    width: 100%;
    height: 800px;
}

.experiences{
    width: 100%;
    height: 600px;
}

.projects{
    width: 100%;
    height: 600px;
}

.contact{
    width: 100%;
    height: 100px;
    background-color: black;
}

.sticky {
    position: fixed;
    padding-top: 0px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .nav-item{
        font-size: 10px;
    }
}